
<!-- category_list.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Liste des catégories</h1>
  <ul>
    {% for category in categories %}
      <li>{{ category.name }}</li>
    {% endfor %}
  </ul>
{% endblock %}



<!-- <h1>Liste des catégories</h1>
<ul>
  {% for category in object_list %}
    <li>{{ category.name }}</li>
  {% empty %}
    <li>Aucune catégorie disponible</li>
  {% endfor %}
</ul>

<h1>Ajouter une nouvelle catégorie</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Ajouter</button>
</form> -->


