<!-- <h1>Détails de la catégorie</h1>
<p>Nom: {{ category.name }}</p>

<h1>Modifier la catégorie</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Modifier</button>
</form>

<h1>Supprimer la catégorie</h1>
<form method="post">
  {% csrf_token %}
  <button type="submit">Supprimer</button>
</form> -->



<!-- category_update.html -->

{% extends 'base.html' %}

{% block content %}
  <h1>Mettre à jour la catégorie</h1>
  <!-- Formulaire de mise à jour de la catégorie avec les valeurs pré-remplies -->
{% endblock %}